body{
    background-color: rgb(177, 179, 215);
}
h1{ font-size:400%;
text-align: center;
color: hotpink;
border-style: double;
border-width: 7px;}
p{
    background-color:rgb(227, 111, 175);
    color: honeydew;
font-size: larger;}
#p1{
    background-color:rgb(227, 111, 175);
    text-align: center;
    color:honeydew
}
.c1{
    background-color:rgb(227, 111, 175);
    text-align: center;
    color:honeydew;
}

div{
    width: 600px;
    height: 50px;
    background-color:rgb(227, 111, 175);
    
}

div.c1{
    background-color: rgb(255, 0, 102);
}
#d1{
    border-style: solid;
    border-color: rgb(255, 0, 102);
    padding-left: 50;
    padding-top: 40;
    margin-top: 40px;
}
table, th, td {
    border: 3px solid;
background-color: white;  
}

td {
    text-align: center;
  }
  a:link, a:visited{
    margin-top: 30px;
    margin-left: 40px;
    background-color:  rgb(255, 0, 102);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}
a:hover{
    background-color:  rgb(255, 75, 147);
}